.body{
    margin: 0;
    padding: 0;
}
nav{
    position: absolute;
    width: 100%;
    height: 50px;

}
nav>li{
    list-style-type: none;
    float: left;
    right: 50px; 
    position: absolute;
}
nav>li>a{
    text-decoration: none;
}
nav>li>a>.img-nav{
    width: 55px; 
    margin-top: 30px;  
    border: 2px solid rgb(238, 230, 230);
    border-radius: 55%;
}
nav>li>a>.img-nav:hover{
    width: 60px;
}


center{
    background: black;
}

.port-inicial{
    width: 100%;
    position: absolute;
    z-index: -1000;
}

#btn{
    border: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 6000;

}
#btn:focus,
#btn2:focus,
#btn3:focus{
    opacity: 0.8;
}
#btn2{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 200px;
    z-index: 6000;

}
#btn3{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 6000;

}
.btns{
    background: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 20px;
}
.btns>img{
    background-color: rgb(255, 213, 0);
    width: 60px;
    border-radius: 50%;
    padding: 8px;
    
}

.botones{
    left: 15px;
    position: fixed;
    width: 75px;
    display: flex;
    float: left;
    z-index: 6000;
}
.btns2{
    border: none;
    background: #0000;    
}

.botones>.btns2>img{
    width: 60px;
    border-radius: 50%;
    background: rgb(233, 195, 27);
    margin:    15px;
    padding: 5px;
}

    /* menu */

.daltomid2{
    color: #fff;
}
.daltomid2>.row{
    width: 100%;
}
.daltomid2>.row>img{
    width: 220px;
    margin: 0;
    justify-content: center;
    text-align: center;
    margin: 10px;

}
.daltomid2>.row>p{
    margin-top: 20px;
    width: 190px;
    left: 500px;
    background-image: url(./img/backmenu.png);

}
.daltomid2>#option-menu{
    list-style: none;
    height: 10px;
    bottom: 118px;
}
.daltomid2>#option-menu>li{
    background: rgba(201, 201, 19, 0.822);
    padding: 5px;
    width: 90px;
    float: left;
}
.daltomid2>#option-menu>li>a{
    text-decoration: none;
    color: rgb(8, 5, 5);
    font-weight: bold;
    font-size: 20px;
}
.daltomid2>#option-menu>li>a:focus{
    color: red;
    font-family: monospace;
}

.daltomid2>.d-sm-block{
    text-align: center;
    margin: 30px;
    margin-bottom: -70px;

}

.daltomid>h1,
.daltomid2>h1{
    padding: 40px;
    font-size: 60px;
    font-family: Segoe Script;
    color: #fff;
}



    /* coctel */

.flex-items{
    margin: 0;
    max-width: 100%;
    display: inline-block;
}
.flex-items>img{
    width: 100%;
}
@media screen and (max-width:280px) {
    .flex-items>img{
        width: 80px;
    
    }
}

.flex-items>p{
    font-size: 12px;
    color: rgb(231, 231, 66);
}

.items-link>img{
    width: 400px;
    margin: 5px;

}

    /* portada */
.portada{
    z-index: 3000;
    width: 100%;
    background-size: cover;
    background-position-y: center;

}


.text-port{
    height: 250px;
    text-align: center;
    color: #fff;
}
.text-port>img{
    width: 150px;
    border-radius: 50%; 
    border: 1px solid rgb(48, 3, 3);
}


    /* tragos */

.tragos{
    color: #fff;

}
.tragos>img{
    width: 300px;
}
.tragos>h1{
    padding: 30px;
    font-size: 60px;
    font-family: Segoe Script;
    
    
}
.tragos>h2{
    padding: 25px;
    color: rgb(175, 15, 15);
}
.tragos>.row>img{
    width: 300px;   
}

.items-categoria>li{
    list-style-type: none;
    background: rgb(175, 15, 15);
    padding: 20px;
}

.items-categoria>li>a{
    text-decoration: none;
    color: rgb(231, 231, 66);
    font-size: 20px;
 
}

@media  screen and (max-width: 1900px) {
    .items-categoria>li>a:hover{
        color: #fff;
    }
    .items-categoria>li>a:focus{
        zoom: 1.2;
    }
    .items-categoria>.mojito:hover{
        background-image: url(./img-card/mojito-categ.png);
        background-size: 5px;
        background-size: cover;
        background-position-y: center;
        
    }
    .items-categoria>.vino:hover{
        background-image: url(./img-card/vino-categ.png);
        background-size: 5px;
        background-size: cover;
        background-position-y: center;
        
    }
    .items-categoria>.vodka:hover{
        background-image: url(./img-card/vodka-categ.png);
        background-size: 5px;
        background-size: cover;
        background-position-y: center;
        
    }
}

.subir{
    position: absolute;
    position: fixed;
    background: 0000;
    bottom: 120px;
    right: 65px;
    display: none;
    z-index: 6000;

}
.subir>img{
    padding: 5px;
    background-color: rgba(229, 233, 17, 0.336);
    border-radius: 50%;
    width: 35px;
}
