.body{
    margin: 0;
    padding: 0;
}
center{
    background: black;
}

#btn{
    border: none;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 6000;

}
#btn:focus,
#btn2:focus,
#btn3:focus{
    opacity: 0.8;
}
#btn2{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 200px;
    z-index: 6000;

}
#btn3{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 0;
    z-index: 6000;

}
.btns{
    background: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 20px;
}
.btns>img{
    background-color: rgb(255, 213, 0);
    width: 60px;
    border-radius: 50%;
    padding: 8px;
    
}

.botones{
    left: 15px;
    position: fixed;
    width: 75px;
    display: flex;
    float: left;
    z-index: 6000;
}
.btns2{
    border: none;
    background: #0000;    
}

.botones>.btns2>img{
    width: 60px;
    border-radius: 50%;
    background: rgb(233, 195, 27);
    margin:    15px;
    padding: 5px;
}

    /* menu */




.daltomid>h1,
.daltomid2>h1{
    padding: 40px;
    font-size: 60px;
    font-family: Segoe Script;
    color: #fff;
}

    /* coctel */
.flex-items{
    margin: 0;
    max-width: 100%;
}
.flex-items>img{
    width: 200px;
}

.items-link>img{
    width: 400px;
    margin: 5px;

}

    /* portada */
.portada{
    z-index: 3000;
    width: 100%;
    background-size: cover;
    background-position-y: center;

}


.text-port{
    position: relative;
    height: 250px;
    text-align: center;
    color: #fff;
}
.text-port>img{
    width: 150px;
    border-radius: 50%; 
    border: 1px solid rgb(48, 3, 3);
}


    /* tragos */

.tragos{
    color: #fff;

}
.tragos>img{
    width: 300px;
}
.tragos>h1{
    padding: 40px;
    font-size: 60px;
    font-family: Segoe Script;
    
    
}
.tragos>h2{
    padding: 50px;
    color: rgb(175, 15, 15);
}
.tragos>.row>img{
    width: 300px;   
}
