.body{
    margin: 0;
    padding: 0;
}

#btn{
    border: none;
    position: fixed;
    bottom: 0px;
    left: 0;

}
#btn:focus,
#btn2:focus,
#btn3:focus{
    zoom: 1.3;
    opacity: 0.8;
}
#btn2{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 200px;

}
#btn3{
    border: none;
    position: fixed;
    bottom: 0px;
    right: 0;

}
/* movil */
.btns{
    background: rgba(0, 0, 0, 0);
    margin: 20px;
    padding: 20px;
}
.btns>img{
    background-color: rgb(255, 213, 0);
    width: 60px;
    border-radius: 50%;
    padding: 8px;
    
}
/* *********** */
/* pc */
.botones{
    left: 15px;
    position: fixed;
    width: 75px;
    display: flex;
    float: left;
}
.btns2{
    border: none;
    background: #0000;
    
}

.botones>.btns2>img{
    width: 60px;
    border-radius: 50%;
    background: rgb(233, 195, 27);
    margin:    15px;
    padding: 5px;
}
.container{
    justify-content: center;
    margin-top: 50px;
}

.flex-items>img{

    width: 180px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border-radius: 1%;
    
}
.flex-items{
    float: left;
    padding: 2px;
    margin: 20px;
    cursor: pointer;
}
.daltomid2{
    display: flex;
    flex-wrap: wrap;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    z-index: 2000;
}

/* coctel */
.daltomid{
    text-align: center;
}
.text-card{
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: -1000;
}

.items-link>img{
    width: 450px;
    margin: 5px;
    border-radius: 15%;
    box-shadow: 0px 0px 13px rgb(140, 184, 199);
}
.portada{
    background: url(./img/portada1.png);
    background-position-y: center;
    background-size: cover;
    z-index: 3000;
}

.text-port{
    position: relative;
    height: 250px;
    text-align: center;
    background: linear-gradient(rgba(250, 250, 250, 0.139),rgb(218, 215, 213));
    box-shadow: 2px 2px 20px rgb(138, 135, 135);

}
.text-port>img{
    width: 150px;
    border-radius: 50%; 
    border: 1px solid rgb(48, 3, 3);
}
.daltomid2>img{
    left: 40%;
    top: 255px;
    color:white; 
    width:70px; 
    position: absolute;
    border-radius:20% ;   

}

/* tragos */

.tragos{
    top: 260px;
    position: absolute;
    z-index: -2000;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.tragos>.row>img{
    width: 33%;
    box-shadow: 5px 0px 10px 2px rgb(196, 191, 191);
    
}

.tragos>.name{
    margin: 30px;
}
.tragos>h2{
    font-family: monospace;
    margin:50px;
    border-bottom: 5px solid rgb(36, 9, 9);
    width: 250px;
}